.stars {
  height: 100%;
  z-index: 2;
  position: absolute;
  width: 100%;
  overflow: hidden;
}

.starWrap {
  height: 60%;
  width: 100%; 
  position:relative;
}

.starProject {
  overflow: hidden;
}

.starReflect {
  overflow: hidden;
  height: 40%;
  opacity: 0.9;
  top: 1%;
}

#stars svg {
  position: absolute;
  width: 120%;
  border-radius: 100%;
  margin: auto;
  left: -10%;
  right: 0;
  animation: stars 120s linear infinite;
  transform: rotate(0deg);
  top: -35%;
}

@keyframes stars { 
  100% {transform: rotate(-360deg);}
}

#starReflection svg {
  position: absolute;
  width: 120%;
  border-radius: 100%;
  margin: auto;
  left: -10%;
  right: 0;
  animation: starsReflect 120s linear infinite;  
  transform: rotate(0deg);
  top:initial;
  bottom: -102%;
}

@keyframes starsReflect {
  100% {transform: rotate(360deg);}
}
