.stars {
  height: 100%;
  z-index: 2;
  position: absolute;
  width: 100%;
  overflow: hidden;
}

.starWrap {
  height: 60%;
  width: 100%; 
  position:relative;
}

.starProject {
  overflow: hidden;
}

.starReflect {
  overflow: hidden;
  height: 40%;
  opacity: 0.9;
  top: 1%;
}

#stars svg {
  position: absolute;
  width: 120%;
  border-radius: 100%;
  margin: auto;
  left: -10%;
  right: 0;
  animation: stars 120s linear infinite;
  transform: rotate(0deg);
  top: -35%;
}

@keyframes stars { 
  100% {transform: rotate(-360deg);}
}

#starReflection svg {
  position: absolute;
  width: 120%;
  border-radius: 100%;
  margin: auto;
  left: -10%;
  right: 0;
  animation: starsReflect 120s linear infinite;  
  transform: rotate(0deg);
  top:initial;
  bottom: -102%;
}

@keyframes starsReflect {
  100% {transform: rotate(360deg);}
}

.hour0.stars { opacity: 1.0; }
.hour1.stars { opacity: 1.0; }
.hour2.stars { opacity: 1.0; }
.hour3.stars { opacity: 1.0; }
.hour4.stars { opacity: 0.8; }
.hour5.stars { opacity: 0.5; }
.hour6.stars { opacity: 0.0; }
.hour7.stars { opacity: 0.0; }
.hour8.stars { opacity: 0.0; }
.hour9.stars { opacity: 0.0; }
.hour10.stars { opacity: 0.0; }
.hour11.stars { opacity: 0.0; }
.hour12.stars { opacity: 0.0; }
.hour13.stars { opacity: 0.0; }
.hour14.stars { opacity: 0.0; }
.hour15.stars { opacity: 0.0; }
.hour16.stars { opacity: 0.0; }
.hour17.stars { opacity: 0.0; }
.hour18.stars { opacity: 0.0; }
.hour19.stars { opacity: 0.0; }
.hour20.stars { opacity: 0.5; }
.hour21.stars { opacity: 0.5; }
.hour22.stars { opacity: 1.0; }
.hour23.stars { opacity: 1.0; }
