 #stag {
  position: absolute;
  bottom: 15.3%;
  width: 6.3%;
  left: 38%;
  z-index: 5;
}

.stag {
  width:100%;
  position: absolute;
  bottom: 0px;
}

.hour0 .stags { fill:#0D141E; }
.hour1 .stags { fill:#101522; }
.hour2 .stags { fill:#121726; }
.hour3 .stags { fill:#141829; }
.hour4 .stags { fill:#1C1E3C; }
.hour5 .stags { fill:#22214F; }
.hour6 .stags { fill:#262262; }
.hour7 .stags { fill:#1D4065; }
.hour8 .stags { fill:#125768; }
.hour9 .stags { fill:#1E4553; }
.hour10 .stags { fill:#1E404E; }
.hour11 .stags { fill:#1E3B49; }
.hour12 .stags { fill:#1D3643; }
.hour13 .stags { fill:#1C313E; }
.hour14 .stags { fill:#1C3344; }
.hour15 .stags { fill:#1C3449; }
.hour16 .stags { fill:#1B344F; }
.hour17 .stags { fill:#183454; }
.hour18 .stags { fill:#242B4A; }
.hour19 .stags { fill:#2B2241; }
.hour20 .stags { fill:#24203C; }
.hour21 .stags { fill:#1D1D37; }
.hour22 .stags { fill:#151A32; }
.hour23 .stags { fill:#14192C; }

.stag1 {
  width: 108%;
  left: -20%;
}

.hour0 .stag1 { opacity: 1.0; }
.hour1 .stag1 { opacity: 1.0; }
.hour2 .stag1 { opacity: 1.0; }
.hour3 .stag1 { opacity: 1.0; }
.hour4 .stag1 { opacity: 1.0; }
.hour5 .stag1 { opacity: 1.0; }
.hour6 .stag1 { opacity: 1.0; }
.hour7 .stag1 { opacity: 1.0; }
.hour8 .stag1 { opacity: 0.0; }
.hour9 .stag1 { opacity: 0.0; }
.hour10 .stag1 { opacity: 0.0; }
.hour11 .stag1 { opacity: 0.0; }
.hour12 .stag1 { opacity: 0.0; }
.hour13 .stag1 { opacity: 0.0; }
.hour14 .stag1 { opacity: 0.0; }
.hour15 .stag1 { opacity: 0.0; }
.hour16 .stag1 { opacity: 0.0; }
.hour17 .stag1 { opacity: 0.0; }
.hour18 .stag1 { opacity: 0.0; }
.hour19 .stag1 { opacity: 0.0; }
.hour20 .stag1 { opacity: 0.0; }
.hour21 .stag1 { opacity: 0.0; }
.hour22 .stag1 { opacity: 0.0; }
.hour23 .stag1 { opacity: 0.0; }

.hour0 .stag2 { opacity: 0.0; }
.hour1 .stag2 { opacity: 0.0; }
.hour2 .stag2 { opacity: 0.0; }
.hour3 .stag2 { opacity: 0.0; }
.hour4 .stag2 { opacity: 0.0; }
.hour5 .stag2 { opacity: 0.0; }
.hour6 .stag2 { opacity: 0.0; }
.hour7 .stag2 { opacity: 0.0; }
.hour8 .stag2 { opacity: 1.0; }
.hour9 .stag2 { opacity: 1.0; }
.hour10 .stag2 { opacity: 1.0; }
.hour11 .stag2 { opacity: 1.0; }
.hour12 .stag2 { opacity: 1.0; }
.hour13 .stag2 { opacity: 1.0; }
.hour14 .stag2 { opacity: 1.0; }
.hour15 .stag2 { opacity: 1.0; }
.hour16 .stag2 { opacity: 0.0; }
.hour17 .stag2 { opacity: 0.0; }
.hour18 .stag2 { opacity: 0.0; }
.hour19 .stag2 { opacity: 0.0; }
.hour20 .stag2 { opacity: 0.0; }
.hour21 .stag2 { opacity: 0.0; }
.hour22 .stag2 { opacity: 0.0; }
.hour23 .stag2 { opacity: 0.0; }

.stag3 {
  width: 144%;
  left: -10%;
  bottom: -3%;
}

.hour0 .stag3 { opacity: 0.0; }
.hour1 .stag3 { opacity: 0.0; }
.hour2 .stag3 { opacity: 0.0; }
.hour3 .stag3 { opacity: 0.0; }
.hour4 .stag3 { opacity: 0.0; }
.hour5 .stag3 { opacity: 0.0; }
.hour6 .stag3 { opacity: 0.0; }
.hour7 .stag3 { opacity: 0.0; }
.hour8 .stag3 { opacity: 0.0; }
.hour9 .stag3 { opacity: 0.0; }
.hour10 .stag3 { opacity: 0.0; }
.hour11 .stag3 { opacity: 0.0; }
.hour12 .stag3 { opacity: 0.0; }
.hour13 .stag3 { opacity: 0.0; }
.hour14 .stag3 { opacity: 0.0; }
.hour15 .stag3 { opacity: 0.0; }
.hour16 .stag3 { opacity: 1.0; }
.hour17 .stag3 { opacity: 1.0; }
.hour18 .stag3 { opacity: 1.0; }
.hour19 .stag3 { opacity: 1.0; }
.hour20 .stag3 { opacity: 1.0; }
.hour21 .stag3 { opacity: 1.0; }
.hour22 .stag3 { opacity: 1.0; }
.hour23 .stag3 { opacity: 1.0; }
