#landfront {
  height: 100%;
  position: absolute;
  top: 88%;
  width: 100%;
  z-index: 5;
}

#landfront.hour0 { background:#0D141E; }
#landfront.hour1 { background:#101522; }
#landfront.hour2 { background:#121726; }
#landfront.hour3 { background:#141829; }
#landfront.hour4 { background:#1C1E3C; }
#landfront.hour5 { background:#22214F; }
#landfront.hour6 { background:#262262; }
#landfront.hour7 { background:#1D4065; }
#landfront.hour8 { background:#125768; }
#landfront.hour9 { background:#1E4553; }
#landfront.hour10 { background:#1E404E; }
#landfront.hour11 { background:#1E3B49; }
#landfront.hour12 { background:#1D3643; }
#landfront.hour13 { background:#1C313E; }
#landfront.hour14 { background:#1C3344; }
#landfront.hour15 { background:#1C3449; }
#landfront.hour16 { background:#1B344F; }
#landfront.hour17 { background:#183454; }
#landfront.hour18 { background:#242B4A; }
#landfront.hour19 { background:#2B2241; }
#landfront.hour20 { background:#24203C; }
#landfront.hour21 { background:#1D1D37; }
#landfront.hour22 { background:#151A32; }
#landfront.hour23 { background:#14192C; }
