.informations {
  font-family: 'Open Sans', sans-serif;
  color: white;
  position: absolute;
  z-index: 100;
  padding: 2em;
}

.informations .text-field-override,
.informations .text-field-override div,
.informations .text-field-override input {
  font-size: 1em;
  font-family: 'Open Sans', sans-serif !important;
  color: white !important;
  bottom: 0 !important;
  height: inherit !important;
}

.informations .temperature {
  font-size: 2em;
}
