@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);

html {
  background: #0D133A;
  height:100%;
  font-size: 100%;
  text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-smoothing: antialiased;
  overflow: hidden;
  position: relative;
  text-decoration: none;
}

body {
  height:100%;
  overflow: hidden;
  margin: 0;
  font-size: 1em;
  line-height: 1.4;
  position: relative;
  opacity:1;
  transition: all 8s ease;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

svg:not(:root) {
  overflow: hidden;
}

/* Animations */
#landscape, .land, #landfront, .stags, .stag, .lensFlare, .sunMask,
.sun:before, .clouds svg, .suncrane, .twinkles {
  animation-duration: 60s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 0s;
}

/* Aspect ratio media queries  */
@media screen and (min-aspect-ratio: 3/1) and (max-aspect-ratio: 6/1) {
  body{background: rgb(31, 60, 80);}
  body:before{content:'Aspect ratio out of range - too wide';color: white;text-align: center;width: 100%;height: 100%;display: block;position: absolute;top: 50%;}
  .sky, .sky-reflection, #sunMask, #landscape, #landfront, #stag, .controls, .stars, .sunMask, .clouds, .lighting, .vignette, .twinkleWrap,.spriteWrap{display: none;}
}
@media screen and (min-aspect-ratio: 14/5) and (max-aspect-ratio: 7/2) {
  .twinkles{}
  .sky-reflection, #sunMask{height: 42%;}
  #landscape{bottom: -3%;}
  #landfront{top: 101%;}
  #stag{bottom: 3%;}
  .sun{top: -570%;}
  .twinkles{top: 77%;}
}
@media screen and (min-aspect-ratio: 5/2) and (max-aspect-ratio: 14/5) {
  .twinkles{top: 75%;}
  .sky-reflection, #sunMask{}
  #landscape{bottom: 1%;}
  #landfront{top: 98%;}
  #stag{bottom: 7%;}
  .sun{top: -532%;}
}
@media screen and (min-aspect-ratio: 9/4) and (max-aspect-ratio: 5/2) {
  .twinkles{top: 75%;}
  .sky-reflection, #sunMask{height: 40%;}
  #landscape{bottom: 5%;}
  #landfront{top: 94%;}
  #stag{bottom: 10%;}
  .sun{top: -452%;}
}
@media screen and (min-aspect-ratio: 11/5) and (max-aspect-ratio: 9/4) {
  .twinkles{}
  .sky-reflection, #sunMask{}
  #landscape{bottom: 6%;}
  #landfront{top: 93%;}
  #stag{
  bottom: 11%;}
  .sun{top: -410%;}
}
@media screen and (min-aspect-ratio: 13/6) and (max-aspect-ratio: 11/5) {
  .twinkles{}
  .sky-reflection, #sunMask{height: 37%;}
  #landscape{bottom: 6%;}
  #landfront{top: 93%;}
  #stag{bottom: 11%;}
  .sun{}
}
@media screen and (min-aspect-ratio: 15/7) and (max-aspect-ratio: 13/6) {
  .twinkles{}
  .sky-reflection, #sunMask{height: 31%;}
  #landscape{bottom: 7%;}
  #landfront{top: 92%;}
  #stag{bottom: 12%;}
  .sun{}
}
@media screen and (min-aspect-ratio: 2/1) and (max-aspect-ratio: 15/7) {
  .twinkles{}
  .sky-reflection, #sunMask{height: 31%;}
  #landscape{bottom: 8%;}
  #landfront{top: 91%;}
  #stag{bottom: 12%;}
  .sun{top: -370%;}
}
@media screen and (min-aspect-ratio: 15/8) and (max-aspect-ratio: 2/1) {
  .twinkles{}
  .sky-reflection, #sunMask{height: 30%;}
  #landscape{}
  #landfront{}
  #stag{bottom: 15%;}
  .sun{}
}
@media screen and (min-aspect-ratio: 7/4) and (max-aspect-ratio: 15/8) {
  .twinkles{top: 71%;}
  .sky-reflection, #sunMask{height: 28%;}
  #landscape{bottom: 13%;}
  #landfront{top: 86%;}
  #stag{bottom: 17%;}
  .sun{top: -300%;}
}
@media screen and (min-aspect-ratio: 11/7) and (max-aspect-ratio: 7/4) {
  .twinkles{top: 69%;}
  .sky-reflection, #sunMask{height: 24%;}
  #landscape{bottom: 16%;}
  #landfront{top: 83%;}
  #stag{bottom: 20%;}
  .sun{top: -270%;}
}
@media screen and (min-aspect-ratio: 13/9) and (max-aspect-ratio: 11/7) {
  .twinkles{top: 68%;}
  .sky-reflection, #sunMask{height: 22%;}
  #landscape{bottom: 18%;}
  #landfront{top: 81%;}
  #stag{bottom: 21.6%;}
  .sun{top: -240%;}
}
@media screen and (min-aspect-ratio: 4/3) and (max-aspect-ratio: 13/9) {
  .twinkles{top: 66%;}
  .sky-reflection, #sunMask{height: 19%;}
  #landscape{bottom: 22%;}
  #landfront{top: 77%;}
  #stag{bottom: 25%;}
  .sun{top: -230%;}
}
@media screen and (min-aspect-ratio: 8/7) and (max-aspect-ratio: 4/3) {
  .twinkles{top: 65%;}
  .sky-reflection, #sunMask{height: 18%;}
  #landscape{bottom: 23%;}
  #landfront{top: 76%;}
  #stag{bottom: 25.3%;}
  .sun{top: -180%;}
}
@media screen and (min-aspect-ratio: 14/15) and (max-aspect-ratio: 8/7) {
  .twinkles{top: 63%;width: 3%;}
  .sky-reflection, #sunMask{height: 17%;}
  #landscape{bottom: 26%;}
  #landfront{top: 73.8%;}
  #stag{bottom: 28.3%;}
  .sun{top: -140%;}
}
@media screen and (min-aspect-ratio: 5/6) and (max-aspect-ratio: 14/15) {
  .twinkles{top: 63%; width: 3%;}
  .sky-reflection, #sunMask{height: 13%;}
  #landscape{bottom: 28%;}
  #landfront{top: 71.5%;}
  #stag{bottom: 30%;}
  .sun{top: -110%;}
}
@media screen and (min-aspect-ratio: 7/10) and (max-aspect-ratio: 5/6) {
  .twinkles{top: 62%; width: 3%;}
  .sky-reflection, #sunMask{height: 11%;}
  #landscape{bottom: 30%;}
  #landfront{top: 69.6%;}
  #stag{bottom: 31.8%;}
  .sun{top: -70%;}
}
@media screen and (min-aspect-ratio: 5/9) and (max-aspect-ratio: 7/10) {
  .twinkles{top: 62%; width: 3%;}
  .sky-reflection, #sunMask{height: 8%;}
  #landscape{bottom: 32%;}
  #landfront{top: 67.5%;}
  #stag{bottom: 33.5%;}
  .sun{top: -55%;}
}
@media screen and (min-aspect-ratio: 1/10) and (max-aspect-ratio: 5/9) {
  body{background: rgb(31, 60, 80);}
  body:before{content:'Aspect ratio out of range - too narrow';color: white;text-align: center;width: 100%;height: 100%;display: block;position: absolute;top: 50%;}
  .sky, .sky-reflection, #sunMask, #landscape, #landfront, #stag, .controls, .stars, .sunMask, .clouds, .lighting, .vignette, .twinkleWrap,.spriteWrap{display: none;}
}
