.twinkleWrap {
  position: absolute;
  z-index: 4;
  width:100%;
  height:100%;
  top:0; 
  opacity: 0.55;
}

.twinkles {
    width: 2.3%;
    position: absolute;
    right: 49.2%;
    top: 72.5%;
    animation: twinkles;
}

.hour0 .twinkles { transform: translate(450%, 0%); opacity: 0.0; }
.hour1 .twinkles { transform: translate(450%, 0%); opacity: 0.0; }
.hour2 .twinkles { transform: translate(450%, 0%); opacity: 0.0; }
.hour3 .twinkles { transform: translate(450%, 0%); opacity: 0.0; }
.hour4 .twinkles { transform: translate(450%, 0%); opacity: 0.0; }
.hour5 .twinkles { transform: translate(450%, 0%); opacity: 0.0; }
.hour6 .twinkles { transform: translate(450%, 0%); opacity: 0.0; }
.hour7 .twinkles { transform: translate(450%, 0%); opacity: 0.0; }
.hour8 .twinkles { transform: translate(450%, 0%); opacity: 0.0; }
.hour9 .twinkles { transform: translate(400%, 0%); opacity: 1.0; }
.hour10 .twinkles { transform: translate(300%, 0%); opacity: 1.0; }
.hour11 .twinkles { transform: translate(200%, 0%); opacity: 1.0; }
.hour12 .twinkles { transform: translate(100%, 0%); opacity: 1.0; }
.hour13 .twinkles { transform: translate(0%, 0%); opacity: 1.0; }
.hour14 .twinkles { transform: translate(-100%, 0%); opacity: 1.0; }
.hour15 .twinkles { transform: translate(-200%, 0%); opacity: 1.0; }
.hour16 .twinkles { transform: translate(-300%, 0%); opacity: 1.0; }
.hour17 .twinkles { transform: translate(-400%, 0%); opacity: 1.0; }
.hour18 .twinkles { transform: translate(-450%, 0%); opacity: 0.5; }
.hour19 .twinkles { transform: translate(-450%, 0%); opacity: 0.0; }
.hour20 .twinkles { transform: translate(-450%, 0%); opacity: 0.0; }
.hour21 .twinkles { transform: translate(-450%, 0%); opacity: 0.0; }
.hour22 .twinkles { transform: translate(-450%, 0%); opacity: 0.0; }
.hour23 .twinkles { transform: translate(-450%, 0%); opacity: 0.0; }

.twinkles:before {
  content:' '; 
  display: none;
  position:absolute;
  height: 600px;
  width:3px;
  background:red;
  top: -600px;
  left: 50%;
}

.twinkles svg {
    width: 100%;
    position: absolute;
    top: 0;
}

.twinkle1 {
  animation: twinkle1 2s linear infinite;
}

@keyframes twinkle1 {
  0% {opacity:1.0;}
  33.33% {opacity:0.0;}
  66.66% {opacity:0.0;}
  99.99% {opacity:1.0;}
  100% {opacity:1.0;}
}

.twinkle2{
  animation: twinkle2 2s linear infinite;
}

@keyframes twinkle2 {
  0% {opacity:0.0;}
  33.33% {opacity:1.0;}
  66.66% {opacity:0.0;}
  99.99% {opacity:0.0;}
  100% {opacity:0.0;}
}

.twinkle3 {
  animation: twinkle3 2s linear infinite;
}

@keyframes twinkle3 { 
  0% {opacity:0.0;}
  33.33% {opacity:0.0;}
  66.66% {opacity:1.0;}
  99.99% {opacity:0.0;}
  100% {opacity:0.0;}
}
